In [39]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
import pyspark as ps
from pyspark.context import SparkContext
import findspark

findspark.init()
sc = SparkContext.getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [6]:
from pyspark import sql,SQLContext,SparkConf
from  pyspark.sql import SparkSession

#conf = SparkConf().setAppName("Read_CSV")
sql = SQLContext(sc)

raw_data = sql.read.csv("/Users/YingShen/Desktop/Data_Science/SpringBorad/all/train_2.csv",
                        header=True)
print(raw_data.count(),len(raw_data.columns))

145063 804

In [7]:
#raw_data=sql.read.format('csv').options(header='true', inferSchema='true').load("/Users/YingShen/Desktop/Data_Science/SpringBorad/all/train_2.csv")
type(raw_data)

pyspark.sql.dataframe.DataFrame

In [8]:
from pyspark.sql.functions import array, col, explode, lit, struct
from pyspark.sql import DataFrame
from typing import Iterable

def melt_df(
        df: DataFrame,
        id_vars: Iterable[str], value_vars: Iterable[str],
        var_name: str="variable", value_name: str="value") -> DataFrame:
    """Convert :class:`DataFrame` from wide to long format."""

    # Create array<struct<variable: str, value: ...>>
    _vars_and_vals = array(*(
        struct(lit(c).alias(var_name), col(c).alias(value_name))
        for c in value_vars))

    # Add to the DataFrame and explode
    _tmp = df.withColumn("_vars_and_vals", explode(_vars_and_vals))

    cols = id_vars + [
            col("_vars_and_vals")[x].alias(x) for x in [var_name, value_name]]
    return _tmp.select(*cols)

melt_cols=raw_data.columns[1:]
melted_df = melt_df(raw_data, 
                    id_vars=['Page'], 
                    value_vars=melt_cols,
                    var_name="Date", 
                    value_name="Visits")
print(melted_df.count(),len(melted_df.columns)) # 116485589 = 145063 * 803

116485589 3

In [9]:
melted_df.show(5)

+--------------------+----------+------+
|                Page|      Date|Visits|
+--------------------+----------+------+
|2NE1_zh.wikipedia...|2015-07-01|    18|
|2NE1_zh.wikipedia...|2015-07-02|    11|
|2NE1_zh.wikipedia...|2015-07-03|     5|
|2NE1_zh.wikipedia...|2015-07-04|    13|
|2NE1_zh.wikipedia...|2015-07-05|    14|
+--------------------+----------+------+
only showing top 5 rows

In [58]:
from pyspark.sql.types import IntegerType
melted_df = melted_df.withColumn("Visits", melted_df["Visits"].cast(IntegerType()))

In [94]:
# from pyspark.sql.functions import pandas_udf, PandasUDFType
# pandas_udf("Mean", PandasUDFType.GROUPED_MAP) 

page_group=melted_df.groupby("Page")
page_group.avg("Visits").show()

+--------------------+------------------+
|                Page|       avg(Visits)|
+--------------------+------------------+
|EXID_zh.wikipedia...|47.054794520547944|
|水菜麗_zh.wikipedia....|10.632627646326277|
|朴炯植_zh.wikipedia....|19.209215442092155|
|進擊的巨人角色列表_zh.wiki...|28.357409713574096|
|陳庭妮_zh.wikipedia....|12.481942714819427|
|太阳能电池_zh.wikipedi...|16.877957658779575|
|成均馆大学_zh.wikipedi...|11.423412204234122|
|賽菲羅斯_zh.wikipedia...|6.6824408468244085|
|中島美嘉_zh.wikipedia...|11.914072229140722|
|湄公河大案_zh.wikipedi...| 6.405977584059776|
|雲之彼端，約定的地方_zh.wik...|7.6824408468244085|
|罗斯柴尔德家族_zh.wikipe...| 17.30510585305106|
|長榮航空_zh.wikipedia...|31.156911581569116|
|班淑傳奇_zh.wikipedia...|15.048567870485678|
|黃義雄_zh.wikipedia....| 5.576030927835052|
|歡樂頌_(電視劇)_zh.wiki...|27.663385826771652|
|星際過客_zh.wikipedia...| 22.51530612244898|
|2017無綫節目巡禮_zh.wik...|31.252307692307692|
|Amazon.com_fr.wik...| 697.3611457036114|
|Championnat_d'Eur...| 2180.677459526775|
+--------------------+------------------+
only showing top 20 rows

In [86]:
# from pyspark.sql.functions import udf, array
# from pyspark.sql.types import DoubleType

# avg_cols = udf(lambda array: sum(array)/len(array), DoubleType())
# col_list=raw_data.columns[1:]
# col_string = ",".join(col_list)
# raw_data.withColumn('Mean', avg_cols(col_string)).show()

In [ ]:
ts_stats=["median","annul_corr","quart_corr","week_corr"]
def get_annual_ac(series):
    series.autocorr(lag=365)
def get_quart_ac(series):
    series.autocorr(lag=91)
def get_week_ac(series):
    series.autocorr(lag=7)

raw_train["annul_corr"]=raw_train.apply(get_annual_ac,axis=1)
raw_train["quart_corr"]=raw_train.apply(get_quart_ac,axis=1)
raw_train["week_corr"]=raw_train.apply(get_week_ac,axis=1)
raw_train["week_corr"]

In [2]:
from functools import reduce
reduce(lambda x,y: x+y, map(lambda t:t[0],[(1,2),(3,4),(5,6)]))

9

In [24]:
a=[(1,2),(3,4),(5,6)]

In [26]:
func1 = map(lambda x:x[1],a)
list(func1)

[2, 4, 6]

In [32]:
func2 = reduce((lambda x,y:x+y),map(lambda x:x[1],a))
func2

12

In [36]:
from itertools import chain
x=chain(map(lambda t:range(t[0],t[1]),[(1,5),(7,10)]))