#### Predicting future page visits with K Neares Neighbor

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# import boto3, os
# import io
# from boto.s3.key import Key

# ACCESS_KEY="AKIAIK7J5B3ZZOIXG2WA"
# SECRET_KEY="MoIXUnsEH0l9yoysGdmaD6H2W0kZ0NKyUkjWl5q4"

# bucket='capstone0project2'
# file_key = 'train_2.csv'

# client = boto3.client(
#     's3',
#     aws_access_key_id=ACCESS_KEY,
#     aws_secret_access_key=SECRET_KEY)
# # Get data from the AWS S3 bucket
# response = client.get_object(Bucket=bucket, Key=file_key)
# df = pd.read_csv(io.BytesIO(response['Body'].read()))

In [3]:
df = pd.read_csv("/Users/YingShen/Desktop/Data_Science/SpringBorad/all/train_2.csv")

In [4]:
df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-09-01,2017-09-02,2017-09-03,2017-09-04,2017-09-05,2017-09-06,2017-09-07,2017-09-08,2017-09-09,2017-09-10
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,19.0,33.0,33.0,18.0,16.0,27.0,29.0,23.0,54.0,38.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,32.0,30.0,11.0,19.0,54.0,25.0,26.0,23.0,13.0,81.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,6.0,6.0,7.0,2.0,4.0,7.0,3.0,4.0,7.0,6.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,7.0,19.0,19.0,9.0,6.0,16.0,19.0,30.0,38.0,4.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,16.0,19.0,9.0,20.0,23.0,28.0,14.0,8.0,7.0

In [17]:
# fill the NaN values with 0 since the dataset does not distinguish between 0 and missing
df_filled=df.fillna(0)

# The original file runs very low so here I will transfer floats to integers to save some space
days_df=df_filled.iloc[:,1:].astype('int64') 
page_df=df_filled.iloc[:,0]
days_df.columns = list(range(0,803))
days_df.head()

,0,1,2,3,4,5,6,7,8,9,...,793,794,795,796,797,798,799,800,801,802
0,18,11,5,13,14,9,9,22,26,24,...,19,33,33,18,16,27,29,23,54,38
1,11,14,15,18,11,13,22,11,10,4,...,32,30,11,19,54,25,26,23,13,81
2,1,0,1,1,0,4,0,3,4,4,...,6,6,7,2,4,7,3,4,7,6
3,35,13,10,94,4,26,14,9,11,16,...,7,19,19,9,6,16,19,30,38,4
4,0,0,0,0,0,0,0,0,0,0,...,16,16,19,9,20,23,28,14,8,7

In [18]:
days_df["id"] =  days_df.index
days_df.head()

,0,1,2,3,4,5,6,7,8,9,...,794,795,796,797,798,799,800,801,802,id
0,18,11,5,13,14,9,9,22,26,24,...,33,33,18,16,27,29,23,54,38,0
1,11,14,15,18,11,13,22,11,10,4,...,30,11,19,54,25,26,23,13,81,1
2,1,0,1,1,0,4,0,3,4,4,...,6,7,2,4,7,3,4,7,6,2
3,35,13,10,94,4,26,14,9,11,16,...,19,19,9,6,16,19,30,38,4,3
4,0,0,0,0,0,0,0,0,0,0,...,16,19,9,20,23,28,14,8,7,4

In [ ]:
# df_flat = pd.melt(days_df, 
#                   id_vars = "id",
#                   var_name ='date', 
#                   value_name ='Visits')
# df_flat=df_flat.sort_values(by = ["id", "date"])
df_flat.head()

In [ ]:
df_flat.shape

In [33]:
lag_days=[1,2,3,4,5,6,7]
temp_list=[]

for lag in lag_days:
    temp_serial = train_flattened["Visits"].shift(periods=lag)
    temp_df=pd.DataFrame(temp_serial)
    temp_df.rename(columns={"Visits":lag},inplace=True)
    temp_list.append(temp_df)
    lagged_df=pd.concat(temp_list, axis=1)
train_lagged=pd.concat([train_flattened,lagged_df],axis=1)
train_lagged.head()

,Page,date,Visits,mean,median,weekend,weekday,1,2,3,4,5,6,7
0,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-01,739.0,1360.41345,557.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-02,732.0,1360.41345,557.0,0.0,3,739.0,NaN,NaN,NaN,NaN,NaN,NaN
2,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-03,643.0,1360.41345,557.0,0.0,4,732.0,739.0,NaN,NaN,NaN,NaN,NaN
3,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-04,667.0,1360.41345,557.0,1.0,5,643.0,732.0,739.0,NaN,NaN,NaN,NaN
4,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-05,1012.0,1360.41345,557.0,1.0,6,667.0,643.0,732.0,739.0,NaN,NaN,NaN

In [44]:
test_start_date="2017-07-04" # 7 days back
test_end_date="2017-09-10"
mask = (train_lagged['date'] >= test_start_date) & (train_lagged['date'] <= test_end_date)
test_df=train_lagged[mask]
true=test_df["Visits"]
alias_df=train_lagged[mask]
test_df.head()

,Page,date,Visits,mean,median,weekend,weekday,1,2,3,4,5,6,7
734,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2017-07-04,919.0,1360.41345,557.0,0.0,1,1111.0,1840.0,1894.0,1323.0,1870.0,2100.0,2636.0
735,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2017-07-05,802.0,1360.41345,557.0,0.0,2,919.0,1111.0,1840.0,1894.0,1323.0,1870.0,2100.0
736,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2017-07-06,663.0,1360.41345,557.0,0.0,3,802.0,919.0,1111.0,1840.0,1894.0,1323.0,1870.0
737,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2017-07-07,886.0,1360.41345,557.0,0.0,4,663.0,802.0,919.0,1111.0,1840.0,1894.0,1323.0
738,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2017-07-08,848.0,1360.41345,557.0,1.0,5,886.0,663.0,802.0,919.0,1111.0,1840.0,1894.0

In [35]:
train_start_date="2015-07-08" # 2015-07-01 ~ 07 has Nan values of lagged days
train_end_date="2017-07-11"
mask_t = (train_lagged['date'] >= train_start_date) & (train_lagged['date'] < train_end_date)

train_df=train_lagged[mask_t]
#train_df[lag_col]=train_df[lag_col].apply(np.log10)
#train_df=train_df.drop(columns="Unnamed: 0")
train_df.head()

,Page,date,Visits,mean,median,weekend,weekday,1,2,3,4,5,6,7
7,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-08,660.0,1360.41345,557.0,0.0,2,560.0,850.0,1012.0,667.0,643.0,732.0,739.0
8,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-09,601.0,1360.41345,557.0,0.0,3,660.0,560.0,850.0,1012.0,667.0,643.0,732.0
9,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-10,687.0,1360.41345,557.0,0.0,4,601.0,660.0,560.0,850.0,1012.0,667.0,643.0
10,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-11,635.0,1360.41345,557.0,1.0,5,687.0,601.0,660.0,560.0,850.0,1012.0,667.0
11,100ãƒ¡ãƒ¼ãƒˆãƒ«ç«¶èµ°_ja.wikipedia.org_all-access_all-agents,2015-07-12,856.0,1360.41345,557.0,1.0,6,635.0,687.0,601.0,660.0,560.0,850.0,1012.0

In [36]:
from sklearn.neighbors import NearestNeighbors

X_train=np.array(train_df.iloc[:,3:])
y_train=np.array(train_df.iloc[:,2]).reshape(-1,1)

In [37]:
neigh_1 = NearestNeighbors(n_neighbors=10)
neigh_1.fit(X_train)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=10, p=2, radius=1.0)

In [38]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
i=0
j=0
while j < test_df.shape[0]:
    ''' Iterate predictions into features '''
    # get features of each page for each day
    pred_start_date="2017-07-11" 
    mask = (test_df['date'] >= pred_start_date)
    df=test_df[mask]
    X_test=np.array(df.iloc[i,3:]).reshape(1,-1)
    
    # find 10 nearest neighbors and get their median
    tuple_1=neigh_1.kneighbors(X_test)
    index_10=tuple_1[1].tolist()[0]
    array_10=y_train[index_10].reshape(1,-1)[0]
    median=np.median(array_10)
    if i in [0,1,5,100,10000,20000,30000,40000,50000,90000]:
        print(median)
    # replace the cell with the predicted value

    if j%69==0:
        j=j+7
        
    test_df.iloc[j,2]=median
                   
    lag_days=[1,2,3,4,5,6,7]
    for lag in lag_days:
        temp_serial = test_df["Visits"].shift(periods=lag)
        temp_df=pd.DataFrame(temp_serial)
        temp_df.rename(columns={"Visits":lag},inplace=True)
        test_df[lag]=temp_df
        test_df.iloc[0:7,:]=alias_df.iloc[0:7,:]
    
    i=i+1
    j=j+1

769.5
707.5
805.0